name: Mimisbrunnr Build
on:
  push:
    branches: [ main ]
    tags:
      - v*
  pull_request:
    branches: [ main ]

jobs:
  publish-import-cli-binary:
    if: contains(github.ref, 'tags/v') # works only version tagged
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: [ win-x86, linux-x64, linux-arm, linux-arm64, osx-x64 ]
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0'
    - name: Build
      run: |
        dotnet publish ./src/DataImport/Mimisbrunnr.DataImport.Cli/Mimisbrunnr.DataImport.Cli.csproj -c Release --self-contained -r ${{ matrix.rid }} -p:PublishSingleFile=true -p:DebugType=None -p:DebugSymbols=false -o ./bin/mimisbrunnr-import-cli-${{ matrix.rid }}
        zip -r ${{ matrix.rid }} ./bin/mimisbrunnr-import-cli-${{ matrix.rid }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./${{ matrix.rid }}.zip
        asset_name: mimisbrunnr-import-cli-${{ matrix.rid }}.zip
        tag: ${{ github.ref }}
        overwrite: false

  publish-persistent-migration-cli-binary:
    if: contains(github.ref, 'tags/v') # works only version tagged
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: [ win-x86, linux-x64, linux-arm, linux-arm64, osx-x64 ]
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0'
    - name: Build
      run: |
        dotnet publish ./src/Migration/Mimisbrunnr.Migration.Persistent.Cli/Mimisbrunnr.Migration.Persistent.Cli.csproj -c Release --self-contained -r ${{ matrix.rid }} -p:PublishSingleFile=true -p:DebugType=None -p:DebugSymbols=false -o ./bin/mimisbrunnr-persistent-migration-cli-${{ matrix.rid }}
        zip -r ${{ matrix.rid }} ./bin/mimisbrunnr-persistent-migration-cli-${{ matrix.rid }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./${{ matrix.rid }}.zip
        asset_name: mimisbrunnr-persistent-migration-cli-${{ matrix.rid }}.zip
        tag: ${{ github.ref }}
        overwrite: false

  publish-webapp-binary:
    if: contains(github.ref, 'tags/v') # works only version tagged
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rid: [ win-x86, linux-x64, linux-arm, linux-arm64, osx-x64 ]
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0'
    - name: Setup NodeJs
      uses: actions/setup-node@v1
      with:
        node-version: '18'
    - name: Build
      run: |
        dotnet publish ./src/Mimisbrunnr.Web.Host/Mimisbrunnr.Web.Host.csproj -c Release --self-contained -r ${{ matrix.rid }} -p:PublishSingleFile=true -p:DebugType=None -p:DebugSymbols=false -o ./bin/mimisbrunnr-wiki-${{ matrix.rid }}
        zip -r ${{ matrix.rid }} ./bin/mimisbrunnr-wiki-${{ matrix.rid }}
    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./${{ matrix.rid }}.zip
        asset_name: mimisbrunnr-wiki-${{ matrix.rid }}.zip
        tag: ${{ github.ref }}
        overwrite: false

  publish-webapp-docker:
    runs-on: ubuntu-latest
    steps:
    -   uses: actions/checkout@v2
        with:
            fetch-depth: 0
    -   name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          # list of Docker images to use as base name for tags
          images: eluki/mimisbrunnr-wiki
          # generate Docker tags based on the following events/attributes
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest,enable={{is_default_branch}}
    -   name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
    -   name: Set up QEMU
        uses: docker/setup-qemu-action@v3
    -   name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    -   name: Build and push Mimisbrunnr
        uses: docker/build-push-action@v6
        with:
          target: app
          push: ${{ github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/tags/') }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  publish-client-library-nuget:
    if: contains(github.ref, 'tags/v') || github.ref == 'refs/heads/main'
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: action-minver
      uses: thefringeninja/action-minver@2.0.0-preview1
      id: version
      with:
        # Optional. Specifies the default pre-release phase.
        default-pre-release-phase: unstalable
        # Optional. Specifies the prefix of the tags
        tag-prefix: v
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0'
    - name: Pack package
      run: dotnet pack ./src/Integration/Mimisbrunnr.Integration.Client/Mimisbrunnr.Integration.Client.csproj -c Release -p:PackageVersion=${{ steps.version.outputs.version }}
    - name: Publish
      run: Get-ChildItem -Path ./src/**/*.nupkg -Recurse -Force | % { dotnet nuget push $_.ToString() --skip-duplicate -s https://nuget.org/ -k ${{secrets.NUGET_PUBLISH_KEY}} }
